//- block footToggle
//- 	-var footToggle = ''
//- -var footMenu = ['About', 'Contact', 'Advertising', 'Privacy Policy']
//- footer.footer
//- 	.wrap
//- 		span.copyright &copy; TopBanger
//- 		nav
//- 			.foot-nav
//- 				ul
//- 					each value in footMenu
//- 						if footToggle === value
//- 							li.is-active
//- 								a(href='#')= value
//- 						else
//- 							li
//- 								a(href='#')= value
